/*                               *
 based on responsivegridsystem.com
 *                               *
 **** [grid]main ****/
.row {
    clear: both;
    padding: 0px;
	margin: 0px;
	zoom:1; /* IE6/7-hasLayout */
}
.row:before, .row:after {
    content:"";
    display:table;
}
.row:after {clear:both;}
.col,.void {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child,.void:first-child {margin-left:0;} /* except IE6/lower */
img,object,embed{border:0;max-width:100%}
/**** [grid]same ****/
.!2?2, .!3?3, .!4?4, .!5?5, .!6?6, .!7?7, .!8?8, .!9?9, .!10?10, .!11?11, .!12?12 {width:100%;}
.!1?2, .!2?4, .!3?6, .!4?8, .!5?10, .!6?12 {width:49.2%;}
.!1?3, .!2?6, .!3?9, .!4?12 {width:32.24%;}
.!2?3, .!4?6, .!6?9, .!8?12 {width:66.11%;}
.!1?4, .!2?8, .!3?12 {width:23.8%;}
.!5?6, .!10?12 {width:83.03%;}
.!1?6, .!2?12 {width:15.33%;}
.!1?5, .!2?10 {width:18.72%;}
.!2?5, .!4?10 {width:39.04%;}
.!4?5, .!8?10 {width:79.68%;}
.!3?5, .!6?10 {width:59.36%;}
.!3?4, .!6?8, .!9?12 {width:74.58%;}
/**** [grid]unique ****/
.!1?12 {width:6.86%;}
.!1?11 {width:7.63%;}
.!1?10 {width:8.56%;}
.!1?9 {width:9.68%;}
.!1?8 {width:11.1%;}
.!1?7 {width:12.91%;}
.!2?11 {width:16.86%;}
.!2?9 {width:20.97%;}
.!2?7 {width:27.42%;}
.!3?11 {width:26.09%;}
.!3?10 {width:28.88%;}
.!3?8 {width:36.5%;}
.!3?7 {width:41.92%;}
.!4?11 {width:35.32%;}
.!4?9 {width:43.55%;}
.!4?7 {width:56.45%;}
.!5?12 {width:40.7%;}
.!5?11 {width:44.55%;}
.!5?9 {width:54.84%;}
.!5?8 {width:61.9%;}
.!5?7 {width:70.97%;}
.!6?11 {width:53.78%;}
.!6?7 {width:85.48%;}
.!7?12 {width:57.62%;}
.!7?11 {width:63.01%;}
.!7?10 {width:69.52%;}
.!7?9 {width:77.42%;}
.!7?8 {width:87.3%;}
.!8?11 {width:72.24%;}
.!8?9 {width:88.71%;}
.!9?11 {width:81.47%;}
.!9?10 {width:89.84%;}
.!10?11 {width:90.7%;}
.!11?12 {width:91.46%;}
/**** [grid]responsive ****/
@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
    .void{display:none;}
    .!1?2, .!2?2, .!1?3, .!2?3, .!3?3, .!1?4, .!2?4, .!3?4, .!4?4, .!1?5, .!2?5, .!3?5, .!4?5, .!5?5, .!1?6, .!2?6, .!3?6, .!4?6, .!5?6, .!6?6, .!1?7, .!2?7, .!3?7, .!4?7, .!5?7, .!6?7, .!7?7, .!1?8, .!2?8, .!3?8, .!4?8, .!5?8, .!6?8, .!7?8, .!8?8, .!1?9, .!2?9, .!3?9, .!4?9, .!5?9, .!6?9, .!7?9, .!8?9, .!9?9, .!1?10, .!2?10, .!3?10, .!4?10, .!5?10, .!6?10, .!7?10, .!8?10, .!9?10, .!10?10, .!1?11, .!2?11, .!3?11, .!4?11, .!5?11, .!6?11, .!7?11, .!8?11, .!9?11, .!10?11, .!11?11, .!1?12, .!2?12, .!3?12, .!4?12, .!5?12, .!6?12, .!7?12, .!8?12, .!9?12, .!10?12, .!11?12, .!12?12 {
        width: 100%;
    }
}
