/*                               *
 based on responsivegridsystem.com
 *                               *
 **** [grid]main ****/
.row {
    clear: both;
    padding: 0px;
	margin: 0px;
	zoom:1; /* IE6/7-hasLayout */
}
.row:before, .row:after {
    content:"";
    display:table;
}
.row:after {clear:both;}
.col,.void {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child,.void:first-child {margin-left:0;} /* except IE6/lower */
img,object,embed{border:0;max-width:100%}
/**** [grid]same ****/
.g2_2, .g3_3, .g4_4, .g5_5, .g6_6, .g7_7, .g8_8, .g9_9, .g10_10, .g11_11, .g12_12 {width:100%;}
.g1_2, .g2_4, .g3_6, .g4_8, .g5_10, .g6_12 {width:49.2%;}
.g1_3, .g2_6, .g3_9, .g4_12 {width:32.24%;}
.g2_3, .g4_6, .g6_9, .g8_12 {width:66.11%;}
.g1_4, .g2_8, .g3_12 {width:23.8%;}
.g5_6, .g10_12 {width:83.03%;}
.g1_6, .g2_12 {width:15.33%;}
.g1_5, .g2_10 {width:18.72%;}
.g2_5, .g4_10 {width:39.04%;}
.g4_5, .g8_10 {width:79.68%;}
.g3_5, .g6_10 {width:59.36%;}
.g3_4, .g6_8, .g9_12 {width:74.58%;}
/**** [grid]unique ****/
.g1_12 {width:6.86%;}
.g1_11 {width:7.63%;}
.g1_10 {width:8.56%;}
.g1_9 {width:9.68%;}
.g1_8 {width:11.1%;}
.g1_7 {width:12.91%;}
.g2_11 {width:16.86%;}
.g2_9 {width:20.97%;}
.g2_7 {width:27.42%;}
.g3_11 {width:26.09%;}
.g3_10 {width:28.88%;}
.g3_8 {width:36.5%;}
.g3_7 {width:41.92%;}
.g4_11 {width:35.32%;}
.g4_9 {width:43.55%;}
.g4_7 {width:56.45%;}
.g5_12 {width:40.7%;}
.g5_11 {width:44.55%;}
.g5_9 {width:54.84%;}
.g5_8 {width:61.9%;}
.g5_7 {width:70.97%;}
.g6_11 {width:53.78%;}
.g6_7 {width:85.48%;}
.g7_12 {width:57.62%;}
.g7_11 {width:63.01%;}
.g7_10 {width:69.52%;}
.g7_9 {width:77.42%;}
.g7_8 {width:87.3%;}
.g8_11 {width:72.24%;}
.g8_9 {width:88.71%;}
.g9_11 {width:81.47%;}
.g9_10 {width:89.84%;}
.g10_11 {width:90.7%;}
.g11_12 {width:91.46%;}
/**** [grid]responsive ****/
@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
	.void{display:none;}
	.g1_2, .g2_2, .g1_3, .g2_3, .g3_3, .g1_4, .g2_4, .g3_4, .g4_4, .g1_5, .g2_5, .g3_5, .g4_5, .g5_5, .g1_6, .g2_6, .g3_6, .g4_6, .g5_6, .g6_6, .g1_7, .g2_7, .g3_7, .g4_7, .g5_7, .g6_7, .g7_7, .g1_8, .g2_8, .g3_8, .g4_8, .g5_8, .g6_8, .g7_8, .g8_8, .g1_9, .g2_9, .g3_9, .g4_9, .g5_9, .g6_9, .g7_9, .g8_9, .g9_9, .g1_10, .g2_10, .g3_10, .g4_10, .g5_10, .g6_10, .g7_10, .g8_10, .g9_10, .g10_10, .g1_11, .g2_11, .g3_11, .g4_11, .g5_11, .g6_11, .g7_11, .g8_11, .g9_11, .g10_11, .g11_11, .g1_12, .g2_12, .g3_12, .g4_12, .g5_12, .g6_12, .g7_12, .g8_12, .g9_12, .g10_12, .g11_12, .g12_12 {
        width: 100%; 
    }
}
